


<div id="home-config">


<img src="/images/cinema.jpg" alt="home">  
<div id="over-text">
<h3>Cinema Ironhack</h3>
<button id="home-button">
<a href="./movies">Check the movies!</a>
</button>
</div>


</div>

